<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Kanban {{title}}!
  </h1>
 
  <div *ngIf="!resultado">
    Cargando información...
  </div>
  <div class="contenido" *ngIf="resultado">
    <div class="row">
        <div class="col-md-3" *ngFor="let resultados of resultado">
          <div>
            {{resultados.name}}
          </div>
          <div *ngIf="resultados.start_at">
            fecha inicio
            <p>{{resultados.start_at}}</p>
          </div>
        </div>      
    </div>
  </div>

</div>

